@{ ViewBag.Title = "Home"; }
<div class="templatemo-content-container">

    @*<div class="templatemo-flex-row flex-content-row">
            <div class="col-1">
                <p>Stuff</p>
            </div>
            <div class="col-1">
                <p>More Stuff here. Fight me.</p>
                </div>
        </div>*@ <!-- Second row ends -->

    <div class="templatemo-content-container">
        <div class="templatemo-content-widget white-bg">
            
            <div class="panel panel-default no-border">
                <div class="panel-heading border-radius-10">
                    <h2>College Enrollment App</h2>
                </div>
                <div class="panel-body">
                    <div class="templatemo-flex-row flex-content-row margin-bottom-30">
                        <div class="col-1">
                            
                            <h3 class="text-center margin-bottom-5">Welcome to enrollment</h3>
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum, libero sed faucibus mollis, risus leo pulvinar sem, ac finibus tellus purus et diam. Cras lacinia mollis quam eget placerat. Sed fringilla pellentesque imperdiet. Donec quis bibendum orci. Suspendisse potenti. Nam tempor fringilla libero sit amet bibendum. Donec molestie finibus orci, ac ornare urna blandit ut. Integer egestas eros id lacus luctus, sit amet fringilla odio condimentum. In sit amet leo ac mauris varius rhoncus quis nec lectus. Vestibulum elit lectus, ultricies in efficitur eget, congue eu augue.

                                Integer vitae bibendum ex, sit amet gravida elit. Nam ac cursus nisi, sit amet placerat erat. In vel orci vel urna consequat sodales. In imperdiet mi eu ex consectetur, a luctus sem tincidunt. Nulla facilisi. Pellentesque fringilla condimentum sapien vel volutpat. Ut mollis purus ut elit elementum, eget pharetra ex accumsan. Etiam vitae varius lacus. Cras scelerisque pulvinar ex, a varius nisl vestibulum eu. Curabitur elementum, justo sit amet rhoncus tempus, felis ligula tincidunt sapien, sit amet euismod purus nunc at ex. Suspendisse a laoreet ipsum. Pellentesque consectetur viverra malesuada. Sed vitae felis imperdiet, convallis sapien ac, vulputate lectus.

                                Aliquam vitae dui ut dui iaculis elementum sit amet ut tortor. Etiam vehicula dapibus hendrerit. Aenean eget lectus orci. Aenean at volutpat quam. Sed blandit elit viverra augue fermentum, sed rhoncus quam semper. Phasellus ante mauris, hendrerit in elit in, ullamcorper euismod ipsum. Nulla eget vehicula dolor. Ut eu fringilla lorem, auctor pellentesque ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas porta sem eu lectus ornare tincidunt. Nullam rutrum venenatis orci vel cursus.

                                Donec hendrerit tellus felis, quis faucibus ex fringilla non. Nullam iaculis enim et libero imperdiet, vel fermentum diam pulvinar. In cursus tristique nisl vitae rutrum. Quisque mi leo, tincidunt eget maximus eget, aliquam et dui. Ut lectus libero, porttitor non aliquam malesuada, lacinia accumsan erat. Aenean consequat venenatis bibendum. Vestibulum pellentesque ante enim, sed sodales nulla tempor molestie. Nam viverra pulvinar libero vitae pharetra.

                                Phasellus mattis est sit amet tortor gravida, non sagittis erat interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt lobortis sem nec dignissim. Vestibulum elementum, nisl non dapibus gravida, velit nisl tempor orci, non sagittis neque nibh ac turpis. In viverra porttitor pretium. Phasellus porta quis nunc in posuere. Pellentesque mi erat, molestie at bibendum vitae, varius in massa. Fusce sodales ante non nibh sagittis, ac lobortis lectus suscipit. Fusce viverra non neque vel iaculis. Fusce nec pulvinar nibh. Cras pulvinar laoreet tempor. In sodales lacus aliquam massa semper faucibus. Praesent molestie, sem ac finibus vestibulum, felis ex dictum eros, at molestie risus erat et ante.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default no-border">
                
            </div>
            <div class="panel panel-default no-border">
                <div class="panel-heading border-radius-10">
                    <h2>Area Chart</h2>
                </div>
                <div class="panel-body">
                    <div class="templatemo-flex-row flex-content-row">
                        <div class="col-1">
                            <div id="area_chart_div" class="templatemo-chart"></div>
                            <h3 class="text-center margin-bottom-5">Company Performance</h3>
                            <p class="text-center">Fusce mi lacus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


   
</div>